{# 详情页、列表页 #}
{% extends 'base.html' %}

{# 网站主体内容块 #}
{% block body %}
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <url class="subnav">
                    {% for type in types %}
                        <li href="{% url 'goods:list' type 1%}" class="{{ type.logo }}">{{ type.name }}</li>
                    {% endfor %}
                </url>
            </div>
            <url class="navlist fl">
                <li>首页</li>
                <li>|</li>
                <li>手机生鲜</li>
                <li>|</li>
                <li>抽奖</li>
            </url>
        </div>
    </div>
    {# 详情页，列表页主体内容块 #}
    {% block main_content %}{% endblock %}
{% endblock %}

